		{{! Displaying the todo list }}
		<div class="cat_bar">
			<h3 class="catbg">
				<span>{{{txt.todo}}}</span>
			</h3>
		</div>
		<div class="windowbg">
			<form action="{{ context.todo_url }}" method="post" accept-charset="UTF-8">
				<div>
					<i class="fas fa-plus-circle fa-fw"></i>
					<input type="text" name="todo" placeholder="{{txt.todo_add_item}}">
					<input type="submit" name="add" value="{{txt.todo_add}}">
				</div>
				{{session_form}}
			</form>
			<br>

			{{#unless context.todo}}
				<div class="infobox success">{{{txt.todo_no_items}}}</div>
			{{/unless}}
			{{#if context.todo}}
				{{#if context.reordering}}
				<div class="floatright">
					<button type="button" class="button" id="reorder">{{txt.todo_reorder}}</button>
					<button type="button" class="button active" style="display:none" id="save_reorder">{{txt.save}}</button>
				</div>
				{{/if}}
				<form action="{{ context.todo_url }}" method="post" accept-charset="UTF-8">
					<ul class="todo">
					{{#each context.todo}}
						<li class="{{#if (gt completed_at 0)}}finished{{else}}unfinished{{/if}}" data-id="{{ id_todo }}">
							{{#if prefix}}<span class="{{prefix.class}}">{{prefix.label}}</span>{{/if}}
							<span class="{{ class }}">{{ item }}</span>
							{{#if (gt completed_at 0)}}
								<button name="undo" value="{{ id_todo }}" title="{{ ../txt.todo_mark_not_done }}"><i class="fas fa-undo"></i></button>
							{{else}}
								<button name="markdone" value="{{ id_todo }}" title="{{ ../txt.todo_mark_done }}"><i class="fas fa-check-square"></i></button>
							{{/if}}
						</li>
					{{/each}}
					</ul>
					{{session_form}}
				</form>
			{{/if}}
		</div>
		<br>

		{{! Topic invites }}
{{#if context.invites.received}}
		<div class="cat_bar">
			<h3 class="catbg">
				{{{ txt.received_invites }}}
			</h3>
		</div>

		<div class="topic-list topic-tracker">
	{{#each context.invites.received}}
			<div class="{{css_class}} topic-ic">
				<div class="topic-subject">
		{{#if (and new ../context.user.is_logged)}}
					<a href="{{new_href}}" id="newicon{{first_post.id}}" class="new_posts" title="{{txt.new_posts}}"></a>
		{{/if}}
					<span class="preview{{#if is_sticky}} bold_text{{/if}}" title="{{#if message_index_preview_first}}{{{first_post.preview}}}{{else}}{{{last_post.preview}}}{{/if}}">

						{{#each prefixes}}
							<a href="{{{filter_link}}}"><span class="{{{css_class}}}">{{{name}}}</span></a>
						{{/each}}
						<span id="msg_{{first_post.id}}">
							{{{first_post.link}}}{{#unless approved}}&nbsp;<em>({{txt.awaiting_approval}})</em>{{/unless}}
						</span>
					</span>
				</div>

				<div class="topic-starter" data-started-by="{{txt.started_by}}">
					{{{first_post.member.link}}}
					{{#if pages}}<span id="pages{{first_post.id}}" class="topic_pages">&nbsp;{{{pages}}}</span>{{/if}}
				</div>

				<div class="icons">
					{{#if is_watched}}<span class="main_icons watch" title="{{txt.watching_this_topic}}"></span>{{/if}}
					{{#if is_locked}}<span class="main_icons lock" title="{{txt.locked_topic}}"></span>{{/if}}
					{{#if is_sticky}}<span class="main_icons sticky" title="{{txt.sticky_topic}}"></span>{{/if}}
					{{#if is_redirect}}<span class="main_icons move" title="{{txt.moved_topic}}"></span>{{/if}}
					{{#if is_poll}}<span class="main_icons poll" title="{{txt.poll}}"></span>{{/if}}
				</div>

				<div class="replies">
					<p>{{replies}} {{../txt.replies}}</p>
					{{#if has_draft}}
						<a href="{{{draft_link}}}"><span class="prefix prefix-tertiary">{{{txt.has_draft}}}</span></a>
					{{/if}}
				</div>
				<div class="last-post">
					{{{ invited.name }}}
				</div>

				<div class="participants">
					<form action="{{{ ../context.invites.url }}}" method="post">
						<input type="hidden" name="invite" value="recd">
						<input type="hidden" name="topic" value="{{ @key }}">
						<input type="hidden" name="character" value="{{ invited.id }}">
						<button class="button">{{{ ../txt.cancel_invite }}}</button>
						{{ session_form }}
					</form>
				</div>
			</div>
	{{/each}}
		</div>
		<br>
{{/if}}

{{#if context.invites.sent}}
		<div class="cat_bar">
			<h3 class="catbg">
				{{{ txt.sent_invites }}}
			</h3>
		</div>

		<div class="topic-list topic-tracker">
	{{#each context.invites.sent}}
			<div class="{{css_class}} topic-ic">
				<div class="topic-subject">
		{{#if (and new ../context.user.is_logged)}}
					<a href="{{new_href}}" id="newicon{{first_post.id}}" class="new_posts" title="{{txt.new_posts}}"></a>
		{{/if}}
					<span class="preview{{#if is_sticky}} bold_text{{/if}}" title="{{#if message_index_preview_first}}{{{first_post.preview}}}{{else}}{{{last_post.preview}}}{{/if}}">

						{{#each prefixes}}
							<a href="{{{filter_link}}}"><span class="{{{css_class}}}">{{{name}}}</span></a>
						{{/each}}
						<span id="msg_{{first_post.id}}">
							{{{first_post.link}}}{{#unless approved}}&nbsp;<em>({{txt.awaiting_approval}})</em>{{/unless}}
						</span>
					</span>
				</div>

				<div class="topic-starter" data-started-by="{{txt.started_by}}">
					{{{first_post.member.link}}}
					{{#if pages}}<span id="pages{{first_post.id}}" class="topic_pages">&nbsp;{{{pages}}}</span>{{/if}}
				</div>

				<div class="icons">
					{{#if is_watched}}<span class="main_icons watch" title="{{txt.watching_this_topic}}"></span>{{/if}}
					{{#if is_locked}}<span class="main_icons lock" title="{{txt.locked_topic}}"></span>{{/if}}
					{{#if is_sticky}}<span class="main_icons sticky" title="{{txt.sticky_topic}}"></span>{{/if}}
					{{#if is_redirect}}<span class="main_icons move" title="{{txt.moved_topic}}"></span>{{/if}}
					{{#if is_poll}}<span class="main_icons poll" title="{{txt.poll}}"></span>{{/if}}
				</div>

				<div class="replies">
					<p>{{replies}} {{../txt.replies}}</p>
					{{#if has_draft}}
						<a href="{{{draft_link}}}"><span class="prefix prefix-tertiary">{{{txt.has_draft}}}</span></a>
					{{/if}}
				</div>
				<div class="last-post">
					{{{ invited.name }}}
				</div>

				<div class="participants">
					<form action="{{{ ../context.invites.url }}}" method="post">
						<input type="hidden" name="invite" value="sent">
						<input type="hidden" name="topic" value="{{ @key }}">
						<input type="hidden" name="character" value="{{ invited.id }}">
						<button class="button">{{{ ../txt.decline_invite }}}</button>
						{{ session_form }}
					</form>
				</div>
			</div>
	{{/each}}
		</div>
		<br>
{{/if}}

		{{! Displaying character topics in a holistic way.}}
		<div class="cat_bar">
			<h3 class="catbg">
				<span id="filter_toggle" class="toggle_down floatright" style="cursor: pointer;" title="{{txt.show}}"></span>
				<span>{{{txt.topic_tracker}}}</span>
			</h3>
		</div>

		<div class="windowbg" id="topic_filter" style="display:none">
			<div class="half_content">
				<dl>
					<dt>{{{txt.topic_tracker_include_topics_where}}}</dt>
					<dd>
						<label><input type="checkbox" name="lastme"> {{{txt.topic_tracker_i_am_waiting_for_reply}}}</label>
						<label><input type="checkbox" name="lastnotme" checked> {{{txt.topic_tracker_i_am_due_to_reply}}}</label>
					</dd>
				</dl>
				<dl>
					<dt>{{{txt.topic_tracker_include_topics_where}}}</dt>
					<dd>
						<label><input type="checkbox" name="unread" checked> {{{txt.topic_tracker_i_am_up_to_date}}}</label>
						<label><input type="checkbox" name="nounread" checked> {{{txt.topic_tracker_there_are_unread_messages}}}</label>
					</dd>
				</dl>
				<dl>
					<dt>{{{txt.topic_tracker_include_topics_that}}}</dt>
					<dd>
						<label><input type="checkbox" name="postedtopic" checked> {{{txt.topic_tracker_i_posted_in}}}</label>
						<label><input type="checkbox" name="invitedtopic" checked> {{{txt.topic_tracker_i_was_invited_to}}}</label>
					</dd>
				</dl>
				<dl>
					<dt>{{{txt.topic_tracker_include_topics_that_are}}}</dt>
					<dd class="inline">
						<label><input type="checkbox" name="finished"> {{{txt.topic_tracker_finished}}}</label>
						<label><input type="checkbox" name="locked"> {{{txt.topic_tracker_locked}}}</label>
					</dd>
				</dl>
			</div>
			<div class="half_content">
				<strong>{{{txt.topic_tracker_last_post}}}</strong><br>
{{#each context.time_ago_options}}
				<label><input type="checkbox" name="lp-{{@key}}" checked> {{{this.label}}}</label><br>
{{/each}}
			</div>
		</div>
		<div class="topic-list topic-tracker">
{{#each context.user.characters}}
	{{#if (and (eq_coerce is_main '0') (eq_coerce retired '0'))}}
			<div class="character">
				<div class="title_bar">
					<h3 class="titlebg">{{{character_name}}}</h3>
				</div>
		{{#if topics}}
			{{#each topics}}
				{{> topic_display_ic txt=../../txt context=../../context scripturl=../../scripturl}}
			{{/each}}
		{{else}}
				<div class="roundframe centertext">
					{{{../txt.topic_tracker_no_topics}}}
				</div>
		{{/if}}
			</div>
			<br>
	{{/if}}
{{/each}}
		</div>

<script>
	function topic_filter() {
		var no_replies = {{{json txt.topic_tracker_no_topics}}};

		var filters = {
			locked: $('#topic_filter input[name="locked"]').prop('checked'),
			finished: $('#topic_filter input[name="finished"]').prop('checked'),
			unread: $('#topic_filter input[name="unread"]').prop('checked'),
			nounread: $('#topic_filter input[name="nounread"]').prop('checked'),
			lastme: $('#topic_filter input[name="lastme"]').prop('checked'),
			lastnotme: $('#topic_filter input[name="lastnotme"]').prop('checked'),
			postedtopic: $('#topic_filter input[name="postedtopic"]').prop('checked'),
			invitedtopic: $('#topic_filter input[name="invitedtopic"]').prop('checked')
		};
		var time_ago_filters = {{{json context.time_ago_options}}};
		for (key in time_ago_filters) {
			if (time_ago_filters.hasOwnProperty(key)) {
				filters['lp-' + key] = $('#topic_filter input[name="lp-' + key + '"]').prop('checked');
			}
		}

		try {
			window.localStorage.setItem('topic_tracker_filter', JSON.stringify(filters));
		} catch (e) {
			// Do nothing - this can fail e.g. Mobile Safari in private browsing.
		}

		$('.topic-list .character').each(function () {
			$(this).find('div.roundframe.centertext').remove();

			$(this).find('.topic-ic').show();
			for (key in filters) {
				if (filters.hasOwnProperty(key)) {
					if (!filters[key]) {
						$(this).find('.' + key).hide();
					}
				}
			}

			if ($(this).find('.topic-ic:visible').length == 0) {
				$(this).append('<div class="roundframe centertext">' + no_replies + '</div>');
			} else {
				$(this).find('.topic-ic:visible').removeClass('odd even');
				$(this).find('.topic-ic:visible:even').addClass('even');
				$(this).find('.topic-ic:visible:odd').addClass('odd');
			}
		});
	}

	var has_filters = false;
	try {
		var filters = window.localStorage.getItem('topic_tracker_filter');
		if (filters && (filters = JSON.parse(filters))) {
			has_filters = true;
			for (key in filters) {
				if (filters.hasOwnProperty(key)) {
					$('#topic_filter input[name="' + key + '"]').prop('checked', filters[key]);
				}
			}
		}
	} catch (e) {
		// If this fails, it doesn't matter, we'll just use whatever defaults there are.
	}

	if (!has_filters) {
		$('#topic_filter').show();
		$('#filter_toggle').removeClass('toggle_down').addClass('toggle_up');
	}
	$('#topic_filter input').on('click', topic_filter);
	topic_filter();

	var oToggle = new smc_Toggle({
		bToggleEnabled: true,
		bCurrentlyCollapsed: has_filters,
		aSwappableContainers: [
			'#topic_filter'
		],
		aSwapImages: [
			{
				sId: '#filter_toggle',
				altExpanded: {{{json txt.hide}}},
				altCollapsed: {{{json txt.show}}}
			}
		]
	});

	{{#if context.reordering}}
	$('#reorder').on('click', function() {
		$('#reorder').hide();
		$('#save_reorder').show();
		$('.todo button').hide();
		$('.todo .unfinished .draggable-handle').remove();
		$('.todo .unfinished').prepend('<span class="draggable-handle">');
		$('.todo').sortable({
			items: ".unfinished",
			handle: ".draggable-handle",
			update: function (event, ui) {
				console.log($(this));
			}
		});	
	});
	$('#save_reorder').on('click', function() {
		var order = [];
		$('.todo .unfinished').each(function() {
			order.push($(this).data('id'));
		});
		var url = {{{json context.reorder_url}}};
		var data = {};
		data[sbb_session_var] = sbb_session_id;
		data['order[]'] = order;
		$.post(url, data)
			.done(function() { window.location.reload(); })
			.fail(function() { alert("There was a problem saving your new order."); });
	});

	{{/if}}
</script>